/*Small*/
section.forecast {
    display: grid;
    grid-template-columns: 1fr;
}
section.forecast div{
    text-align: center;
    border: 1px solid #aaa;
}
section.forecast div h5 {
    background-color: #eee;
    margin: 0;
    padding: 1rem 0;            
}
section.forecast div img {
   
        left: 50%;
        top: 50%;
        
}

div#forecast{
    float: left;
    display: grid;
    grid-template-columns: 1fr;
    padding: 2rem;
}

/*Medium*/
section.forecast {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

section.forecast div{
    text-align: center;
    border: 1px solid #aaa;
}
section.forecast div h5 {
    background-color: #eee;
    margin: 0;
    padding: 1rem 0;            
}

