@media only screen and (min-width: 1029px) {


       
        div.cards{
            text-align: justify;
            padding: 0;
            display: grid;
            grid-template-columns: 1fr 1fr;
                    
        }

        .cards section{
            display: flex;
            flex-wrap: wrap;
        }
        
    
        .cards img{
            max-width: 50%;
            float: right; 
            margin-left: 20rem;
            margin-bottom: 20rem;
       }

       .cards section{
           display: inline-block;
       }
            
        img{
            max-width: 50%;
            float: left;
        }
    
        div{
            text-align: center;
        }

        div#forecast{
            display: block;
        }
        
        div#forecast{
            display: grid;
            grid-template-columns: 1fr 1fr;
            margin-left: 200px;
            margin-right: 200px;
            text-align: center;
           }
        
        div#wForecast{
            border: solid 1px black;
        }

        div#wForecast img{
            margin-left: 9rem;
        }

       
       

    }